@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* === GEN === */
:root {
  --transition: all 1s ease;
  --transition2: all 5s ease;
  --transition3: all 2ms ease;

  .rainbow-text {
    background-image: linear-gradient(to left,
        violet,
        indigo,
        blue,
        green,
        yellow,
        orange,
        red);
  }

  .background_main {
    background-image: linear-gradient(to right,
        black,
        indigo,
        rgb(71, 71, 151),
        rgb(159, 77, 175),
        rgb(118, 63, 129),
        rgb(89, 18, 104));
  }

  --color-background-main: rgb(5, 71, 27);
  --color-background-second: rgb(15, 104, 44);
  --color-background-alt: rgb(247, 244, 231);

  --color-background: rgb(236, 233, 220);

  --color-letter-primary: rgb(206, 206, 206);
  --color-letter-secondary: rgb(170, 170, 170);
  --color-letter-third: rgb(94, 87, 87);
  --color-letter-alert: rgb(193, 0, 0);

  --color-border-primary: rgb(177, 186, 204);

  --color-onHover: rgb(83, 128, 98);
  --color-letter-onHover: rgb(20, 68, 48);

  --color-button-bg: rgb(0, 0, 0);

  --container-width-lg: 75%;
  --container-wigth-md: 86%;
  --container-wigth-sm: 90%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-size: 3.5rem;
  color: var(--color-letter-primary);
}

p,
a,
span {
  margin: 1.5rem;
  font-size: 2rem;
  color: var(--color-letter-secondary);
  transition: var(--transition);
}

section {
  max-width: 90%;
  margin: auto;
  padding: 3rem;
}

.little {
  font-size: smaller;
  color: var(--color-letter-third);
}

.alert {
  color: var(--color-letter-alert);
}

img {
  display: block;
  max-width: 75%;
  height: auto;
  object-fit: contain;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
}

a :hover {
  transition: var(--transition3);
  color: var(--color-letter-onHover);
}

.btn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-background-second);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  margin: 1rem auto;
}

.btn:hover {
  transition: var(--transition);
  background-color: var(--color-letter-primary);
  color: var(--color-primary);
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: auto;
}

span>.HOME {
  display: none;
}

.layout {
  text-align: center;
}

.nombre>a {
  margin: 0;
  font-size: 4rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg3);
  color: var(--color-border-cyan);
  justify-content: center;
  font-size: 2rem;
  background-color: var(--color-background-alt);
}

label,
input {
  font-size: 2.5rem;
  margin: 1rem auto;
  max-width: 80%;
  text-align: left;
}

.loginSection {
  display: flex;
}

.loginSignup {
  padding: 5rem;
  margin: 10px;
}

.loginStyle {
  border: 1px solid var(--color-border-cyan);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 35rem;
  display: inline-block;
  transition: var(--transition);
  background-color: var(--color-background-main);
}

.signupStyle {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 35rem;
  display: inline-block;
  transition: var(--transition);
  background-color: var(--color-background-main);
  color: var(--color-letter-secondary);
}