
.btn {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-background-second);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: var(--transition);
    margin: 1rem auto;
    color: var(--color-letter-secondary);
  }
  
  .btn:hover {
    transition: var(--transition);
    background-color: var(--color-letter-primary);
    color: var(--color-primary);
    box-shadow: none;
  }