footer {
  background-color: var(--color-background-main);
  width: 100%;
  height: auto;
  min-height: 35vh;
  display: grid;
  color: var(--color-background-main);
}
.middleSection {
  display: flex;
}
