footer {
  background-color: var(--color-background-main);
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-background-main);
}


